/PORR/Release/Sekwencyjna.pdb
/PORR/Release/smpd.exe
/PORR/Release/Testy.exe
/PORR/Release/Testy.pdb
/PORR/Release/wyniki.txt
/PORR/Release/MPI.exe
/PORR/Release/MPI.pdb
/PORR/Release/mpiexec.exe
/PORR/Release/RownoleglaPamiecWspolna.exe
/PORR/Release/RownoleglaPamiecWspolna.pdb
/PORR/Release/Sekwencyjna.exe
/PORR/PORR/Release
/PORR/PORR/Debug
/PORR/Debug/RownoleglaPamiecWspolna.exe
/PORR/Debug/RownoleglaPamiecWspolna.ilk
/PORR/Debug/RownoleglaPamiecWspolna.pdb
/PORR/Debug/Sekwencyjna.exe
/PORR/Debug/Sekwencyjna.ilk
/PORR/Debug/Sekwencyjna.pdb
/PORR/Debug/Testy.exe
/PORR/Debug/Testy.ilk
/PORR/Debug/Testy.pdb
/PORR/Debug/mpiexec.exe
/PORR/ConsoleApplication1/Debug
/PORR/ConsoleApplication1/Release
/PORR/PORR.sdf
/PORR/Testy/Release
/PORR/Testy/Debug
